body,
html {
  height: 100%;
  width: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/4besOi2.jpg");

  /* Set a specific height and width */
  height: 40%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: larger;
  text-shadow: 2px 2px 4px #000000;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #222222;
  color: azure;
  text-align: center;
}

.output {
  background-color: #383838;
  height: 2em;
  width: 40%;
  color: azure;
  font-size: 150%;
  text-align: left;
  margin: 0.5em;
  vertical-align: middle;
  border-radius: 1em;
  padding-left: 1em;
}

button {
  background-color: #383838;
  height: 4em;
  width: 15em;
  color: azure;
  border: #d5d5d5;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  font-size: 2em;
  vertical-align: middle;
}

.border {
  border: #d5d5d5;
  border-width: 2px;
  border-style: solid;
}

.noBorder {
  border: none;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
}

.smaller {
  width: 3em;
  height: 3em;
  margin: 0px;
  font-size: 1.25em;
  text-align: center;
}

.icon {
  margin: 0px;
  align-self: center;
  vertical-align: middle;
  height: 3em;
  width: 3em;
  color: white;
  background-color: white;
  border-radius: 0.5em;
}

.invisible {
  display: none;
}

.results {
  display: inline-block;
}

.lighterbg {
  background-color: #383838;
  padding: 0.25em;
  border-radius: 1em;
}

.thinBorder {
  display: ;
  border: 0.05em;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 1em;
  padding: 2em;
  width: 70%;
  margin: auto;
}
.white {
  color: white;
}
a {
  color: lightblue;
}

/* The animation code */
.marquee {
  white-space: nowrap;
  -webkit-animation: rightThenLeft 6s alternate;
  animation-delay: 1.3s;
}

@-webkit-keyframes rightThenLeft {
  0% {
    text-indent: 0%;
  }
  50% {
    text-indent: -250%;
  }
  100% {
    text-indent: 0%;
  }
}

h3 {
  margin-bottom: 2em;
}
